<td>
	<table>
		<tr>
			<td align="left">
				<p class="s_tit"><!-- @echo name --></p>
				<p class="s_sub"><!-- @echo signature --></p>
			</td>
		</tr>

		<tr>
			<table class="s_addr" align="left">
				<td><!-- @echo contactAddress --></td>
			</table>
			<table class="s_phn" align="left">
				<td>
					<a href="tel:<!-- @echo contactPhone1 -->"><!-- @echo contactPhone1 --></a>
					<a href="tel:<!-- @echo contactPhone2 -->"><!-- @echo contactPhone2 --></a>
				</td>
			</table>
			<table class="s_lnk" align="left">
				<td>
					<p><a href="<!-- @echo website1_url -->"><!-- @echo website1_text --></a></p>
					<p><a href="<!-- @echo website2_url -->"><!-- @echo website2_text --></a></p>
				</td>
			</table>
		</tr>
	</table>
</td>