<td class="footer">
	<table class="rbcc footer__main">
		<tr>
			<td class="footer__main__signature" align="left">
				<p class="signature__content_title"><!-- @echo name --></p>
				<p class="signature__content_subtitle"><!-- @echo signature --></p>
			</td>
		</tr>

		<tr>
			<table class="signature__content_address" align="left">
				<td><!-- @echo contactAddress --></td>
			</table>
			<table class="signature__content_phones" align="left">
				<td>
					<a href="tel:<!-- @echo contactPhone1 -->"><!-- @echo contactPhone1 --></a>
					<a href="tel:<!-- @echo contactPhone2 -->"><!-- @echo contactPhone2 --></a>
				</td>
			</table>
			<table class="signature__content_links" align="left">
				<td>
					<p><a href="<!-- @echo website1_url -->" target="_blank"><!-- @echo website1_text --></a></p>
					<p><a href="<!-- @echo website2_url -->" target="_blank"><!-- @echo website2_text --></a></p>
				</td>
			</table>
		</tr>
	</table>
</td>