/*
 * =====================================
 * 1. Common styles.
 * =====================================
 */

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  margin: 0;
  box-sizing: border-box;
}

.m_ctt {
  margin-bottom: 20px;
}

.m_sign {
  margin-bottom: 20px;
}

.m_ftr {
  margin-top: 20px;
  max-width: 800px;
}

.m_ftr p {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 1em;
}

.m_ftr p:last-child {
  margin-bottom: 0;
}

/*
   * ================
   * 2. Signature styles.
   * ================
   */

.s_cont {
  max-width: 800px;
}

.s_cont * {
  margin: 0;
}

p,
a,
span {
  font-family: 'Inter', sans-serif;
}

.s_img {
  float: left;
  margin-right: 20px;
}

.s_img img {
  width: 137px;
  min-width: 137px;
  max-width: 100%;
  height: 218px;
  object-fit: contain;
  object-position: left;
}

.s_ctt {
  float: left;
  width: calc(100% - 137px - 28px);
  /* min-width: 255px; */
}

.s_ctt a {
  color: #888;
}

.s_ctt table {
  width: 100%;
}

.s_phn {
  width: 100%;
  margin-bottom: 4px;
}

.s_phn a {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  text-wrap: nowrap;
}

.s_phn a:first-child {
  margin-right: 12px;
}

.s_addr p,
.s_lnk a,
.s_phn a {
  font-size: 14px;
  font-weight: 500;
}

.s_lnk a {
  color: #166490;
  text-decoration: underline;
}

.s_sub {
  font-size: 18px;
  font-weight: 600;
}

.s_tit {
  font-size: 27px;
  color: #166490;
  font-weight: 700;
}

.s_lnk a:hover {
  text-decoration: none;
}

.s_addr {
  margin-top: calc(18px * 2);
  margin-bottom: 18px;
}
