<p style="font-family: 'Inter', sans-serif; font-weight: 400; font-size: 14px; margin: 0;">
	Добрый день, Денис</p>
<br />
<p style="font-family: 'Inter', sans-serif; font-weight: 400; font-size: 14px; margin: 0;">
	В приложении отправляю штраф на оплату.</p>
<br />
<br />
<br />
<p style="font-family: 'Inter', sans-serif; font-weight: 400; font-size: 14px; margin: 0;">
	S pozdravem a přáním hezkého dne,</p>
<br />
<b style="font-size: 14px; font-family: 'Inter', sans-serif; font-weight: 600;">Elizaveta
	Pyatkova</b>
<p style="font-family: 'Inter', sans-serif; font-weight: 400; font-size: 14px; margin: 0;">
	Účetní</p>