<p
	style="box-sizing: border-box; font-family: var(--font-family); font-weight: 400; font-size: var(--f-size-regular); margin: 0;">
	Добрый день, Денис</p>
<br style="box-sizing: border-box;">
<p
	style="box-sizing: border-box; font-family: var(--font-family); font-weight: 400; font-size: var(--f-size-regular); margin: 0;">
	В приложении отправляю штраф на оплату.</p>
<br style="box-sizing: border-box;">
<br style="box-sizing: border-box;">
<br style="box-sizing: border-box;">
<p
	style="box-sizing: border-box; font-family: var(--font-family); font-weight: 400; font-size: var(--f-size-regular); margin: 0;">
	S pozdravem a přáním hezkého dne,</p>
<br style="box-sizing: border-box;">
<b style="box-sizing: border-box; font-size: var(--f-size-regular); font-family: var(--font-family); font-weight: 600;">Elizaveta
	Pyatkova</b>
<p
	style="box-sizing: border-box; font-family: var(--font-family); font-weight: 400; font-size: var(--f-size-regular); margin: 0;">
	Účetní</p>